
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    background-image:url('https://th.bing.com/th/id/OIP.PulI1PRmHP73-yFxOjj6FwHaFk?rs=1&pid=ImgDetMain') ;
    background-position: 100%;
    background-size: cover;
}

.form-container {

    justify-content: center;
    justify-items:center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: 700px;
}

h2 {
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    font-weight: 100%;
    justify-items: center;
    height: 50px;
    width: 500px ;
    font-size: 25px;
    margin-bottom: 50px;
}
#aadharNumber {
    height: 40px;
    width: 100%;
    max-width: 500px;
}
#name{
    height:40px ;
    font-size: 20px;
}
#number{
    height: 40px;
}
#date_of_Birth{
    height: 40px;
    font-size: 20px;
}
#departmentList{
    height: 40px;
    font-size: 20px;
}

label {
    height: 30px;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

button {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;

}

button:hover {
    transition: 1s;
    background-color: #082b52;
}
